body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    /*font: 15px/1.5 /Arial, Helvetica, sans-serif; (replace all above) */
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;

}
/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{ /*modifing general header*/
    background: #1684c8;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px; 
    border-bottom: #e8db1d 3px solid;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background-color: #e8db1d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
}

.dark{
    padding: 15px;
    background-color: #1684c8;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

header a{ /* modification all link (a)  just in header*/
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    padding: 0;
    margin: 0;

}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8db1d;
    font-weight: bold;
}

header a:hover{
    color: #e8db1d;
    font-weight: bold;
    
    border-bottom: 2px solid #e8db1d; /* Adjust the thickness and color as needed */
    padding-bottom: 8px; /* Add space between text and underline */
}

/*Showcase*/
#showcase {
    min-height: 400px;
    background:url('../img/background2.jpg')  /*no-repeat*/ 0 -200px;
    background-size: cover;
    text-align: center;
    /* color: #ffffff; */
    color: white;
    text-shadow: -0.8px -0.8px 0 black, 0.8px -0.8px 0 black, -0.8px 0.8px 0 black, 0.8px 0.8px 0 black;

}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    /* background: rgba(22, 132, 200, 0.2); */
}

#showcase p{
    font-size: 12px;
    color: white;
    background: rgba(22, 132, 200, 0.6); /* 0.6 represents 60% opacity */
}

/*newsletter*/

#newsletter {
    padding: 15px;
    color: #f4f4f4;
    background: #1684c8;
}

#newsletter h1{
    float:none;
}

#newsletter form{
    /* float:right; */
    margin-left: 33%;
    margin-top: 20px; ;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*boxes*/

#boxes {
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 240px;
    height: 160px;
}


/*sidebar*/
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

/*main-col*/
article#main-col{
    float: left;
    width: 65%;
}

/*Services*/

ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background-color: #e6e6e6;
}

#services img {
    float: right;
    margin-bottom: 20px; /* Adjust margin as needed */
    height: 150px;
    width: 150px;
}


aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

/* -----------Commander--------------------------------------------*/

/* Boxes Section Styles */
#boxes2 {
    padding: 2rem 0;
}

.box_container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.box2 {
    flex: 1;
    min-width: 550px; /* Adjust the minimum width as needed */
    max-width: 550px; /* Adjust the maximum width as needed */
    background: #fff;
    padding: 20px;
    margin: 0 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.box2:hover {
    transform: scale(1.05);
}

.box2 h3 {
    color: #1684c8;
    margin-bottom: 10px;
}

.box2 p {
    color: #555;
}

/* Button Styles */
.button-link-Messanger, .button-link-vinted, .button-link-LBC, .button-link-wtsp{
    display: inline-block;
    width: 90px;
    background: #ffffff;
    color: #000;
    border: 0.2px solid #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s ease-in-out;
}


.button-link-vinted:hover {
    background: #02a1b3;
    color: #fff;
    border: 0px;
}

.button-link-Messanger:hover {
    background: #0084FF;
    color: #fff;
    border: 0px;

}

.button-link-LBC:hover {
    background: #e1931e;
    color: #fff;
    border: 0px;
}

.button-link-wtsp:hover {
    background: #52b90d;
    color: #fff;
    border: 0px;
}


/* -------------------- Footer-------------------------------------- */

footer{
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #000000;
    background-color:#e8db1d;

    bottom: 0;
}

/*media query for mobile deviices*/

@media(max-width: 768px){
   header #branding, 
   header nav,
   header nav li,
   #newsletter h1,
   #newsletter form,
   #boxes .box,
   article#main-col,
   aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
   }

   header{
    padding-bottom: 20px;
   }

#showcase h1{
    margin-top: 40px;
}
/*#newsletter button*/.button_1{
    margin-top: 5px;
    display:block;
    width: 100%;
}
#newsletter form input[type="email"]{
    width: 100%;
}
}
